
@{
    ViewBag.Title = "Record Consultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <a href="#" class="list-group-item list-group-item-action active">
            <b data-highlightable="1" class="gjs-comp-selected">
                Patient Details
            </b>
        </a>
        <a href="#" class="list-group-item list-group-item-action disabled">Yusuf Hassim</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Age: 23</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Male</a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <a href="#" class="list-group-item list-group-item-action active">
            <b>
                Allergies
            </b>
        </a>
        <a href="#" class="list-group-item list-group-item-action disabled">Aspirin</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Penicillin</a>
        <a href="#" class="list-group-item list-group-item-action disabled">ibuprofen</a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                <b>
                    Previous Consultations
                </b>
            </a>
            <a href="#" class="list-group-item list-group-item-action"><i class="far fa-folder-open"></i>&nbsp;03 Jan 2019 </a>
            <a href="#" class="list-group-item list-group-item-action"><i class="far fa-folder-open"></i>&nbsp;02 Nov 2018 </a>
            <a href="#" class="list-group-item list-group-item-action"><i class="far fa-folder-open"></i>&nbsp;12 Jun 2018 </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="input-group">
            <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search for Procedure Name or Code..." />
            <span class="align-items-center"><button type="button" class="btn btn-default">Search</button><i class="fas fa-search"></i></span>
        </div>
        <ul id="myUL">
            <li>
                <a href="#">Allergy: Patch tests: First patch</a>
            </li>
            <li>
                <a href="#">Allergy: Skin-prick tests: Skin-prick testing: Insect venom, latex and drugs</a>
            </li>
            <li>
                <a href="#">Biopsy without suturing: First lesion</a>
            </li>
        </ul>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <table class="table table-bordered grocery-crud-table table-hover">
            <thead>
                <tr>
                    <th>
                        Procedure Code
                    </th>
                    <th>
                        Procedure Description
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        0217
                    </td>
                    <td>
                        Allergy: Patch tests: First patch
                    </td>
                    <td>
                        <a href="" class="btn"><i class="fas fa-minus-circle"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        0220
                    </td>
                    <td>
                        Deep skin biopsy by surgical incision with local anaesthetic and suturing
                    </td>
                    <td>
                        <a href="" class="btn"><i class="fas fa-minus-circle"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
    <textarea cols="30" rows="3" class="form-control">  </textarea>
</div>
