
@{
    ViewBag.Title = "RecordConsultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Record Consultation</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h6>Patient Details</h6>
            <ul>
                <li>Name:</li>
                <li>Surname:</li>
                <li>Gender:</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h6>Allergies</h6>
            <ul>
                <li>Aspirin</li>
                <li>Ornages</li>
                <li>Apples</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h6>Existing Medical Conditions</h6>
            <ul>
                <li>Asthma</li>
                <li>Migranes</li>
                <li>Diabetes</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h6>Previous Consultations</h6>
            <table class="table-active table table-hover active" style="border-radius: 25px">
                <tr>
                    <td>2019/01/01</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2019/01/01</td>
                </tr>
            </table>
        </div>
    </div>
</div>