@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Validate Medical Claim</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="Navigation-with-Button.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body style="width: 1440px;background-color: rgb(14,13,13);margin-left: -10px;height: 2304px;">
    <div role="alert" class="alert alert-primary" style="width: 255px;margin-left: 606px;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>Enter Request Details</strong></span></div>
    <div style="margin-top: -2px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="width: 186px;margin-left: -64px;margin-top: -8px;">
                    <h1 class="border rounded" style="margin-top: 12px;width: 275px;background-color: #36ab4f;color: rgb(255,255,255);padding-left: 12px;margin-left: -61px;margin-bottom: 0px;">Patient Details</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive table-bordered border rounded" style="margin-left: 39px;width: 1343px;">
        <table class="table table-striped table-bordered table-dark">
            <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Contact</th>
                    <th>Medical Aid</th>
                    <th>Request Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" placeholder="Patient ID" class="border rounded border-success" style="background-color: rgba(16,13,13,0);color: rgb(255,255,255);" /></td>
                    <td style="width: 222px;"><input type="text" placeholder="Enter Name" class="border rounded border-success" style="background-color: rgba(16,13,13,0);color: rgb(255,255,255);" /></td>
                    <td style="width: 222px;"><input type="text" placeholder="Enter Surname" class="border rounded border-success" style="background-color: rgba(16,13,13,0);color: rgb(255,255,255);" /></td>
                    <td style="width: 222px;"><input type="text" placeholder="Enter Contact" class="border rounded border-success" style="background-color: rgba(16,13,13,0);color: rgb(255,255,255);" /></td>
                    <td style="width: 222px;"><input type="text" placeholder="Medical Aid Number" class="border rounded border-success" style="background-color: rgba(16,13,13,0);color: rgb(255,255,255);" /></td>
                    <td style="width: 222px;"><input type="date" class="border rounded border-success" style="background-color: rgba(255,255,255,0);color: rgb(255,255,255);" /></td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <h1 class="border rounded" style="margin-top: 12px;width: 275px;background-color: #3673ab;color: rgb(255,255,255);padding-left: 12px;margin-left: 38px;margin-bottom: 0px;">Test Details</h1>
    <div style="width: 1452px;"></div>
    <div class="container border rounded border-primary" style="margin-left: 38px;height: 142px;width: 1214px;">
        <div class="row">
            <div class="col-md-3">
                <h1 class="border rounded" style="margin-top: 12px;width: 163px;background-color: #3673ab;color: rgb(255,255,255);padding-left: 12px;margin-left: 0px;margin-bottom: 0px;font-size: 25px;">Test ID</h1>
                <div class="table-responsive border rounded" style="width: 163px;">
                    <table class="table table-striped table-dark table-sm">
                        <tbody>
                            <tr>
                                <td>        2345</td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <h1 class="border rounded" style="margin-top: 12px;width: 173px;background-color: #3673ab;color: rgb(255,255,255);padding-left: 12px;margin-left: 0px;margin-bottom: 0px;font-size: 25px;">Test Progress</h1>
                <div class="table-responsive border rounded" style="width: 174px;">
                    <table class="table table-striped table-dark table-sm">
                        <tbody>
                            <tr>
                                <td><i class="fa fa-hourglass-3" style="height: 17px;font-size: 21px;color: rgb(231,226,109);"></i><label>New Request</label></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <h1 class="border rounded" style="margin-top: 12px;width: 260px;background-color: #3673ab;color: rgb(255,255,255);padding-left: 12px;margin-left: 0px;margin-bottom: 0px;font-size: 25px;">Test Description</h1><input type="text" style="width: 260px;height: 72px;" />
            </div>
            <div class="col-md-3" style="margin-left: -8px;">
                <div role="group" class="btn-group"><button class="btn btn-secondary" type="submit" style="margin-left: 54px;margin-bottom: 0px;margin-top: 52px;">Send </button><button class="btn btn-danger" type="button" style="margin-top: 52px;">Cancel</button></div>
            </div>
        </div>
    </div>
</body>

</html>

