@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="Navigation-with-Button.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body style="margin-left: -10px;color: #5e68c4;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: rgb(0,0,0);margin-left: -4px;color: rgb(255,255,255);width: 1453px;padding: 0px;">
            <div class="container">
                <a href="#" class="navbar-brand" style="color: rgb(0,0,0);background-color: #94cd71;font-size: 18px;margin-left: -143px;"> Ellouise Smith  </a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="margin: -2px;width: 2032px;"><span class="navbar-text actions" style="margin-right: 730px;color: #ffffff;font-size: 27px;margin-left: 9px;padding: -49px;width: 1176px;">                                                                           Record<strong> Consultation                                    </strong><button class="btn btn-primary border rounded-circle" type="button" style="background-color: #3498db;padding: 8px 16px;font-size: 21px;margin-left: 116px;padding-left: 16px;padding-bottom: 8px;padding-right: 16px;padding-top: 8px;">13:47</button></span></div>
            </div>
        </nav>
    </div>
    <p></p>
    <div style="margin-left: -26px;"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div><label style="margin-left: 385px;font-size: 37px;color: #6689cc;"></label>
    <div role="group" class="btn-group"></div>
    <div></div>
    <h1 style="color: #6689cc;font-size: 40px;margin-left: 79px;">                                                               X Ray Options</h1><i class="fa fa-download" style="margin-left: 316px;color: #00aacc;font-size: 154px;"></i><i class="fa fa-upload" style="margin-left: 432px;color: #b73844;font-size: 153px;"></i>
    <p></p>
    <h1 style="color: rgb(255,255,255);width: 234px;margin-left: 284px;font-size: 32px;">Request X-Ray</h1>
    <hr style="color: rgb(255,255,255);background-color: #5b77cc;margin-top: 33px;width: 1192px;margin-left: 81px;padding-top: -22px;" />
    <h1 style="width: 200px;margin-left: 868px;margin-top: -85px;color: rgb(255,255,255);font-size: 31px;">Upload Xray</h1>
    <div role="group" class="btn-group" style="color: #00aacc;font-size: 66px;margin-left: 59px;"></div>
</body>