
@{
    ViewBag.Title = "Add New Medication Type";
}

<h2>Add New Medication Type</h2>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <label>Name:</label>
                <input type="text" class="form-control" id="RoleDesc" placeholder="Name...">
            </div>

        </div>
        <div class="col-sm-6">
            <div>
                <label>Description:</label>
                <textarea type="text" class="form-control" id="RoleDesc" placeholder="Description....."></textarea>
            </div>
        </div>
    </div>
</div>
<hr />
<button type="button" class="btn btn-success"><i class="fas fa-pen"></i> Modify</button>
<button type="button" class="btn btn-danger"><i class="fas fa-user-slash"></i> Discard</button>

