
@{
    ViewBag.Title = "Modify Institute Details";
}

<h2>Modify Institute Details</h2>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <label>Institute Name:</label>
                <input type="text" class="form-control" id="FirstName" placeholder="Disprin">
            </div>
            <div>
            <label>Contact Number:</label>
            <input type="text" class="form-control" id="FirstName" placeholder="Contact Number">
        </div>

        </div>
        <div class="col-sm-6">
            <div>

                <div class="form-group">
                    <label>Institute Type:</label>
                    <select class="custom-select">
                        <option selected="">Vision</option>
                        <option value="1">Doctor</option>
                        <option value="2">Receptionist</option>
                        <option value="3">Bookkeeper</option>
                    </select>
                </div>
                <div>
                    <label>Institute Type Description:</label>
                    <textarea class="form-control" id="HouseAdd" rows="2" placeholder="Eye surgery institute"></textarea>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Modify</button>
    <button type="button" class="btn btn-danger"><i class="fas fa-user-slash"></i> Discard</button>
</div>

