
@{
    ViewBag.Title = "Reset Employee Password";
}

<h2>Reset Employee Password</h2>

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <label>UserName:</label>
                <input type="text" class="form-control" id="RoleDesc" placeholder="TaylorDean" disabled="disabled">
            </div>

        </div>
        <div class="col-sm-6">
            <div>
                <label>New Password:</label>
                <div class="input-group">
                    <input type="password" class="form-control pwd" placeholder="Enter Password">
                    <span class="input-group-btn">
                        <button class="btn btn-default reveal" type="button" style="background-color:dodgerblue;"><i id="pass-status" class="fa fa-eye" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
            <div>
                <label>Re-enter Password:</label>
                <div class="input-group">
                    <input type="password" class="form-control pwd" placeholder="Re-enter Password">
                    <span class="input-group-btn">
                        <button class="btn btn-default reveal" type="button" style="background-color:dodgerblue;"><i id="pass-status" class="fa fa-eye" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>

        </div>

    </div>

    <hr />
    <button type="button" class="btn btn-success"><i class="fas fa-pen"></i> Reset Password</button>
    <button type="button" class="btn btn-danger"><i class="fas fa-user-slash"></i> Discard</button>
</div>