
@{
    ViewBag.Title = "Procedure List";
}

<h2>Procedure List</h2>
<hr />

<button type="button" class="btn btn-primary">Add New Procedure</button>
<hr />
<div class="input-group md-form form-sm form-1 pl-0">
    <div class="input-group-prepend" style="color:dodgerblue;">
        <span class="input-group-text" id="basic-text1" style="background-color:dodgerblue;">
            <i class="fas fa-search text-white"
               aria-hidden="true"></i>
        </span>
    </div>
    <input type="text" class="form-control border-bottom" placeholder="Search here..." aria-label="Recipient's username" aria-describedby="button-addon2">
</div>
<br />
<div>
    <table class="table-active table table-hover" style="border-radius: 25px;">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
                <th scope="col">Modify</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cardiac Stress test</td>
                <td>Used to test for heart disease</td>
                <td>R 450</td>
                <td>
                    <a><i class="fas fa-user-edit fa-lg"></i></a>
                </td>
                <td>
                    <a><i class="far fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
            <tr>
                <td>Cortisone Injection</td>
                <td> powerful anti-inflammatory medications</td>
                <td>R 200</td>
                <td>
                    <a><i class="fas fa-user-edit fa-lg"></i></a>
                </td>
                <td>
                    <a><i class="far fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>

        </tbody>
    </table>
</div>
