
@{
    ViewBag.Title = "Employee Role List";
}

<h2>Employee Role List</h2>
<hr />

<button type="button" class="btn btn-primary">Add New Employee Role</button>
<hr />
<div class="input-group md-form form-sm form-1 pl-0">
    <div class="input-group-prepend" style="color:dodgerblue;">
        <span class="input-group-text" id="basic-text1" style="background-color:dodgerblue;">
            <i class="fas fa-search text-white"
               aria-hidden="true"></i>
        </span>
    </div>
    <input type="text" class="form-control border-bottom" placeholder="Search here..." aria-label="Recipient's username" aria-describedby="button-addon2">
</div>
<br />
<div>
    <table class="table-active table table-hover" style="border-radius: 25px;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col">Access Control</th>
                <th scope="col">Modify</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Doctor</td>
                <td>Full Control</td>

                <td>
                    <a><i class="fas fa-edit fa-lg"></i></a>
                </td>
                <td>
                    <a><i class="far fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Receptionist</td>
                <td>Mandatory Control</td>

                <td>
                    <a><i class="fas fa-edit fa-lg"></i></a>
                </td>
                <td>
                    <a><i class="far fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>

        </tbody>
    </table>
</div>
